@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap");

.wrapper {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 1fr 5fr;
}
.wrapper nav {
  grid-area: nav;
  background-color: #e8d288;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 30px 30px 0 40px;
  font-family: "Nunito", sans-serif;
}
.wrapper button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #58aaf5;
  color: #fff;
}
