.wrapper {
  display: flex;
  background-color: var(--tcm-navbar);
  height: 80px;
  min-width: 450px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-right: 15px;
}
.wrapper img {
  height: 100%;
  border-radius: 5px;
}
.wrapper div h3 {
  margin: 15px 0 5px 0;
  font-family: "Playfair Display", serif;
}
.wrapper div h4 {
  margin: 0;
}
.wrapper div {
  margin-left: 20px;
  margin-right: auto;
  font-family: "Nunito", sans-serif;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper button {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: auto 10px auto 10px;
  background-color: rgba(0, 0, 0, 0);
}
.wrapper p {
  margin: auto 15px auto auto;
}
.wrapper div p {
  margin-top: 0;
}
.wrapper a {
  height: 100%;
  width: max-content;
}
