.container {
  max-width: 265px;
  background-color: var(--tcm-navbar);
  border-radius: 15px;
  margin: 5px;
}

.container img {
  width: 100%;
  border-radius: 15px 15px 0 0px;
}
.text {
  padding: 0.625em;
  font-family: "Playfair Display", serif;
}
.text p {
  font-family: "Nunito", sans-serif;
}
