@import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@500&display=swap");
.wrapper {
  font-family: "Nunito", sans-serif;
  color: #252b30;
  font-weight: 500;
  display: flex;
}
