.container {
  text-align: left;
  display: grid;
  grid-column-gap: 2em;
  grid-template-areas: "header header" "main side";
  grid-template-columns: repeat(2, auto-fill);
}
.container article {
  font-family: "Nunito", sans-serif;
  max-width: 75ch;
  min-width: 300px;
  text-align: left;
}
.container header{
  grid-area: header;
  background-color: var(--tcm-navbar);
  padding-left: 80px;
}
.container header h2{
  margin: 1ch 0;
}
.writtenBy,
.container p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.writtenBy a {
  margin-right: 5px;
  color: var(--tcm-blue);
}

.container h1,
.container h2 {
  font-family: "Playfair Display", serif;
}
.container hr {
  color: #c5cacf;
}
.container main {
  grid-area: main;
  padding-left: 80px;
}
.top{
  display: flex;
  align-items: center;
}
.top h1{
  margin-right: auto;
}
.container button{
  border-radius: 5px;
  background-color: var(--tcm-blue);
  color: #fff;
  height: min-content;
  border: none;
  padding: 1ch 2ch 1ch 2ch;
}
.container button:active{
  background-color: var(--tcm-blue-dark);
}
.container button:hover{
  background-color: var(--tcm-blue-hover);
}
.otherArticles {
  grid-area: side;
  padding-right: 80px;
}
.relatedArticles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, max-content));
}
@media only screen and (max-width: 768px) {
  .otherArticles, .container main, .container header{
    padding: 0 40px 0 40px;
    
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .container main, .otherArticles, .container header {
    padding: 0 20px 0 20px;
  }
  .container {
  grid-template-areas: "header" "main" "side";
  }
}
