/* @import url("https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--tcm-neutral);
  color: #252b30;
  font-weight: 400;
  --tcm-text-color: #252b30;
  --tcm-red: #f13d6a;
  --tcm-red-hover: #fb5f86;
  --tcm-navbar: hsl(56, 100%, 50%);
  --tcm-neutral: hsl(0, 0%, 100%);
  --tcm-blue: #69bef1;
  --tcm-blue-hover: #81c9f7;
  --tcm-blue-dark: #4a99ca;
  --tcm-disabled-grey: rgb(228, 227, 227);
  --tcm-font: "Playfair Display", serif;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.23rem;
  --normal: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
