.container header {
  background-color: var(--tcm-navbar);
  display: flex;
}
.container p {
  font-family: "Nunito", sans-serif;
}
.hero {
  display: grid;
  grid-template-areas: "newArticle heroText";
  grid-template-columns: 4fr 8fr;
  column-gap: 3em;
  padding: 0 80px 0 80px;
}
.heroText {
  grid-area: heroText;
  align-self: center;
}
.hero button {
  height: 60px;
  width: 300px;
  background-color: var(--tcm-red);
  border: none;
  border-radius: 5px;
  color: #fff;
}
.container h1,
.container h2,
.container h3 {
  font-family: "Playfair Display", serif;
}
.newestArticle {
  grid-area: newArticle;
  background-color: var(--tcm-navbar);
  border-radius: 5px;
  padding-bottom: 15px;
  font-family: "Playfair Display", serif;
  margin: 2rem 0 2rem 0;
}
.newestArticle img {
  width: 100%;
  border-radius: 5px;
}
.newestArticle h3,
.newestArticle p {
  margin: 10px 15px 0 15px;
  font-size: var(--h3);
}
.newestArticle p {
  font-size: 0.8rem;
}
.articles {
  text-align: center;
  padding: 0 80px 0 80px;
}
.articleContainer {
  display: grid;
  text-align: left;
  grid-template-columns: repeat(4, 1fr);
}
.seeMoreBtn {
  border: none;
  background-color: var(--tcm-red);
  color: #fff;
  border-radius: 15px;
  margin: 2em auto;
  padding: 1ch 2ch 1ch 2ch;
}
@media only screen and (max-width: 480px) {
  .hero {
    display: flex;
    /* grid-template-areas: "main";
    grid-template-columns: 1fr;
    column-gap: 2em; */
    flex-direction: column;
    padding: 0 20px 0 20px;
  }
  .heroText {
    /* grid-area: main; */
  }
  .newestArticle {
    /* grid-area: main; */
    background-color: var(--tcm-navbar);
  }
  .articleContainer {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
  }
  .articles {
    text-align: center;
    padding: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hero {
    display: grid;
    grid-template-areas: "newArticle heroText";
    grid-template-columns: 4fr 8fr;
    column-gap: 2em;
    padding: 0 40px 0 40px;
  }
  .articleContainer {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
  }
  .articles {
    text-align: center;
    padding: 0 40px 0 40px;
  }
}
