.modal {
  background-color: var(--tcm-navbar);
  min-height: 200px;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal p {
  font-family: "Nunito", sans-serif;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal button {
  margin: 0 5px;
  width: calc(100% / 2 - 10px);
  height: 2rem;
}
.buttonWrapper {
  width: 100%;
  display: flex;
}
.cancelBtn {
  background-color: var(--tcm-disabled-grey);
  border: none;
  border-radius: 5px;
}
.mainBtn {
  background-color: var(--tcm-red);
  border: none;
  border-radius: 5px;
  color: #fff;
}
